.portfolio {
  background-color: rgb(38, 70, 83);
  padding-top: 70px;
  display: flex;
  transition: all;
  overflow: hidden;

  .left {
    background-image: radial-gradient(
      #a4508b 0%,
      #5f0a87 100%
    );
    flex:0.7;
    transform: flex 0.7;
    text-align: center;
    font-size: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
  }

  .right {
    flex: 1;
    background-color: #5f0a87;
    color: white;
    padding-right: 10px;
    contain: content;

    .skillbar-percent{
      color: black;
    }
    .skillbar-title span{
      padding: 0 10px;
    }

  }
}
