.app{
    height: calc(100% - 70px);
    background-color: rgba(0, 0, 0, 0.8);

    .coverpage{
        height: 93vh;
        width: 100%;
    }

    .intro{
        height: 40vh;
        width: 100%;
    }
    
    .portfolio{
        height: 93vh;
        width: 100%;
    }

    .works{
        height: 93vh;
        width: 100%;
    }
    .contact{
        height: 50vh;
        width: 100%;
    }
    
    .sections{
        width: 100%;
        height: calc(100% - 70px);
        position: relative;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;

    }

}